<div class="container">
  <div class="grocery-list col-md-12">
    <h1>Grocery List</h1>
    <div ng-repeat="item in ctrl.groceryList">
    	<ul>
    		<h4><input type="checkbox" 
    			   checklist-model="ctrl.checkedGroceryItems" 
    			   checklist-value="item">{{item}}</h4>
             <!-- <h5 ng-click="ctrl.deleteItem(item)">X</h5></span> -->
    	</ul>
    </div>
    <button class="btn btn-default" ng-click="ctrl.searchForMoreItems()">Search for recipes with these ingredients</button>
    <button class="btn btn-default" ng-click="ctrl.deleteItems()">Remove items from my list</button>
    <form name="ctrl.addItemToForm" ng-submit="ctrl.addItem(addItemToList.$valid)" novalidate>
        <div class="form-group">
            <h3><label>What would you like to add to your list?</label></h3>
            <input type="text" 
                   name="additionalItem"
                   ng-model="ctrl.itemToAdd" 
                   required>   
        </div>
        <button type="submit" class="btn btn-default">Add Item</button>
    </form>

    
  </div>
</div>