<div class="container">
  <div class="h2 text-center">
    <h1>Grocery List</h1>
    <div ng-repeat="item in ctrl.groceryList">
    	<ul>
    		<input type="checkbox" 
    			   checklist-model="ctrl.checkedGroceryItems" 
    			   checklist-value="item">{{item}}
            <h4 ng-click="ctrl.deleteItem(item)">Delete</h4>
    	</ul>
    </div>
    <form name="ctrl.addItemToForm" ng-submit="ctrl.addItem(addItemToList.$valid)" novalidate>
        <div class="form-group">
            <label>What would you like to add to your list?</label>
            <input type="text" 
                   name="additionalItem" 
                   class="form-control" 
                   ng-model="ctrl.itemToAdd" 
                   required>   
        </div>
        <button type="submit" class="btn btn-primary" ng-submit="ctrl.onSubmit()">Add Item</button>
    </form>

    <button ng-click="ctrl.searchForMoreItems()">Search for recipes with these ingredients</button>
  </div>
</div>